<%- contentFor('main') %>
<div class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-12">
        <div class="w-richtext">
          <h2>Hello!</h2>
          <p>Thank you for visiting. This app let's you fetch random images of dogs (currently over 500+). Perfect while you are waiting for the bus or just want to look at pups. Just click the image or button to generate a new dog.</p>
        </div>
      </div>
    </div>
  </div>
</div>
