<%- contentFor('main') %>
<div class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-12">
        <div class="w-richtext">
          <h2>Hello!</h2>
          <p>Thank you for visiting. Hope you guys enjoyed this website and seeing images of Random Dogs</p>
          <p>If you guys would like to support my efforts, please feel free to show some love to my venmo
             <a href="https://venmo.com/tshamsul">@tshamsul.</a> Much appreciated!</p>
        </div>
      </div>
    </div>
  </div>
</div>