
<%- contentFor('main') %>
  <div class="section">
    <div class="container w-container" id="dogContainer">
      <a href="/"><img src="https://source.unsplash.com/1600x900/?dog" id="dogImage" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="galleryimage"></div></a>
    </div>
    <br>
    <div class="container w-container">
        <input id="dogButton" class="css_btn_class" type="button" value="Generate New Dog" onclick="reload()" />
    </div>
  </div>
  
  